//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 22 21:57:58 2021
//! **************************************************************************

SCHEMATIC START;
COMP "TRIGGER_TOP_1" LOCATE = SITE "P31" LEVEL 1;
COMP "TRIGGER_TOP_2" LOCATE = SITE "P27" LEVEL 1;
COMP "CLK" LOCATE = SITE "P129" LEVEL 1;
COMP "ECHO_TOP_1" LOCATE = SITE "P32" LEVEL 1;
COMP "ECHO_TOP_2" LOCATE = SITE "P29" LEVEL 1;
COMP "SWITCH_TOP" LOCATE = SITE "P70" LEVEL 1;
COMP "TX_TOP" LOCATE = SITE "P28" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

