//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 21 17:28:36 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Clk" LOCATE = SITE "P129" LEVEL 1;
COMP "SALIDA<10>" LOCATE = SITE "P18" LEVEL 1;
COMP "SALIDA<11>" LOCATE = SITE "P20" LEVEL 1;
COMP "SALIDA<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "SALIDA<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "SALIDA<2>" LOCATE = SITE "P28" LEVEL 1;
COMP "SALIDA<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "SALIDA<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "SALIDA<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SALIDA<6>" LOCATE = SITE "P24" LEVEL 1;
COMP "SALIDA<7>" LOCATE = SITE "P25" LEVEL 1;
COMP "SALIDA<8>" LOCATE = SITE "P19" LEVEL 1;
COMP "SALIDA<9>" LOCATE = SITE "P21" LEVEL 1;
NET "Clk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

