//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 20 01:42:31 2021
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "DISPARO" LOCATE = SITE "P80" LEVEL 1;
COMP "ECO" LOCATE = SITE "P32" LEVEL 1;
COMP "Clk" LOCATE = SITE "P129" LEVEL 1;
COMP "TRIGGER" LOCATE = SITE "P31" LEVEL 1;
NET "Clk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

