//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 22 08:36:29 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "activ" LOCATE = SITE "P70" LEVEL 1;
COMP "clk" LOCATE = SITE "P129" LEVEL 1;
COMP "datos_1<0>" LOCATE = SITE "P19" LEVEL 1;
COMP "datos_1<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "datos_1<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "sda" LOCATE = SITE "P31" LEVEL 1;
COMP "datos_1<3>" LOCATE = SITE "P20" LEVEL 1;
COMP "datos_2<0>" LOCATE = SITE "P10" LEVEL 1;
COMP "datos_1<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "datos_2<1>" LOCATE = SITE "P11" LEVEL 1;
COMP "datos_1<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "datos_2<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "datos_1<6>" LOCATE = SITE "P12" LEVEL 1;
COMP "scl" LOCATE = SITE "P32" LEVEL 1;
COMP "datos_2<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "datos_1<7>" LOCATE = SITE "P13" LEVEL 1;
COMP "datos_2<4>" LOCATE = SITE "P3" LEVEL 1;
COMP "datos_2<5>" LOCATE = SITE "P5" LEVEL 1;
COMP "datos_2<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "datos_2<7>" LOCATE = SITE "P6" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

