//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 09 17:09:43 2021
//! **************************************************************************

SCHEMATIC START;
COMP "DATOS_TX<7>" LOCATE = SITE "P70" LEVEL 1;
COMP "DATOS_RX<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "DATOS_RX<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "DATOS_RX<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "PUSH_1" LOCATE = SITE "P80" LEVEL 1;
COMP "PUSH_2" LOCATE = SITE "P79" LEVEL 1;
COMP "DATOS_RX<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "DATOS_RX<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "DATOS_RX<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "DATOS_RX<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "DATOS_RX<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "SALIDA_P1" LOCATE = SITE "P31" LEVEL 1;
COMP "SALIDA_P2" LOCATE = SITE "P32" LEVEL 1;
COMP "DATOS_TX<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "DATOS_TX<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "CLK" LOCATE = SITE "P129" LEVEL 1;
COMP "DATOS_TX<2>" LOCATE = SITE "P60" LEVEL 1;
COMP "DATOS_TX<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "DATOS_TX<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "DATOS_TX<5>" LOCATE = SITE "P68" LEVEL 1;
COMP "DATOS_TX<6>" LOCATE = SITE "P69" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

