//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 23 18:46:55 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "TX" LOCATE = SITE "P27" LEVEL 1;
COMP "CLK" LOCATE = SITE "P129" LEVEL 1;
COMP "SDA" LOCATE = SITE "P19" LEVEL 1;
COMP "SCL" LOCATE = SITE "P21" LEVEL 1;
COMP "ACTIV" LOCATE = SITE "P70" LEVEL 1;
COMP "ECO_1" LOCATE = SITE "P32" LEVEL 1;
COMP "ECO_2" LOCATE = SITE "P30" LEVEL 1;
COMP "TRIG_1" LOCATE = SITE "P31" LEVEL 1;
COMP "TRIG_2" LOCATE = SITE "P28" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

